[submodule "vendor/addon-wireguard-client"]
	path = vendor/addon-wireguard-client
	url = https://github.com/bigmoby/addon-wireguard-client.git
[submodule "tesla"]
	path = tesla
	url = https://github.com/adregner/ha_tesla
	branch = energy-tariffs
